body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:798px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:920px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u738 {
  position:absolute;
  left:30px;
  top:30px;
  width:768px;
  height:920px;
}
#u739 {
  position:absolute;
  left:2px;
  top:452px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u740 {
  position:absolute;
  left:30px;
  top:30px;
  width:768px;
  height:60px;
}
#u741 {
  position:absolute;
  left:2px;
  top:22px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:34px;
}
#u742 {
  position:absolute;
  left:50px;
  top:42px;
  width:20px;
  height:34px;
}
#u743 {
  position:absolute;
  left:2px;
  top:9px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u744 {
  position:absolute;
  left:91px;
  top:43px;
  width:97px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u745 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:790px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u746 {
  position:absolute;
  left:94px;
  top:140px;
  width:640px;
  height:790px;
}
#u747 {
  position:absolute;
  left:2px;
  top:387px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u748 {
  position:absolute;
  left:94px;
  top:140px;
  width:640px;
  height:170px;
}
#u749 {
  position:absolute;
  left:2px;
  top:77px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u750 {
  position:absolute;
  left:124px;
  top:273px;
  width:580px;
  height:200px;
}
#u751 {
  position:absolute;
  left:2px;
  top:92px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u752 {
  position:absolute;
  left:364px;
  top:210px;
  width:100px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u753 {
  position:absolute;
  left:2px;
  top:41px;
  width:96px;
  word-wrap:break-word;
}
#u754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u754 {
  position:absolute;
  left:384px;
  top:320px;
  width:61px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u755 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u756 {
  position:absolute;
  left:500px;
  top:358px;
  width:73px;
  height:25px;
  font-size:18px;
}
#u757 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u758 {
  position:absolute;
  left:500px;
  top:393px;
  width:93px;
  height:25px;
  font-size:18px;
}
#u759 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u760 {
  position:absolute;
  left:500px;
  top:430px;
  width:91px;
  height:25px;
  font-size:18px;
}
#u761 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u762 {
  position:absolute;
  left:190px;
  top:358px;
  width:181px;
  height:25px;
  font-size:18px;
}
#u763 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u764 {
  position:absolute;
  left:190px;
  top:393px;
  width:163px;
  height:25px;
  font-size:18px;
}
#u765 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u766 {
  position:absolute;
  left:190px;
  top:430px;
  width:199px;
  height:25px;
  font-size:18px;
}
#u767 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:162px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u768 {
  position:absolute;
  left:124px;
  top:483px;
  width:580px;
  height:162px;
}
#u769 {
  position:absolute;
  left:2px;
  top:73px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u770 {
  position:absolute;
  left:384px;
  top:492px;
  width:81px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u771 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u772 {
  position:absolute;
  left:149px;
  top:525px;
  width:531px;
  height:105px;
  font-size:18px;
}
#u773 {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  word-wrap:break-word;
}
#u774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:162px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u774 {
  position:absolute;
  left:125px;
  top:655px;
  width:580px;
  height:162px;
}
#u775 {
  position:absolute;
  left:2px;
  top:73px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u776 {
  position:absolute;
  left:385px;
  top:664px;
  width:81px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u777 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u778 {
  position:absolute;
  left:150px;
  top:695px;
  width:531px;
  height:105px;
  font-size:18px;
}
#u779 {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  word-wrap:break-word;
}
#u780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u780 {
  position:absolute;
  left:124px;
  top:827px;
  width:580px;
  height:83px;
}
#u781 {
  position:absolute;
  left:2px;
  top:34px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u782 {
  position:absolute;
  left:384px;
  top:836px;
  width:81px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u783 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u784 {
  position:absolute;
  left:149px;
  top:868px;
  width:531px;
  height:34px;
  font-size:18px;
}
#u785 {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  word-wrap:break-word;
}
