body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:798px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:576px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u414 {
  position:absolute;
  left:30px;
  top:30px;
  width:768px;
  height:576px;
}
#u415 {
  position:absolute;
  left:2px;
  top:280px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u416 {
  position:absolute;
  left:30px;
  top:30px;
  width:768px;
  height:60px;
}
#u417 {
  position:absolute;
  left:2px;
  top:22px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:34px;
}
#u418 {
  position:absolute;
  left:50px;
  top:42px;
  width:20px;
  height:34px;
}
#u419 {
  position:absolute;
  left:2px;
  top:9px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u420 {
  position:absolute;
  left:91px;
  top:43px;
  width:184px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u421 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  white-space:nowrap;
}
#u422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:437px;
}
#u422 {
  position:absolute;
  left:64px;
  top:128px;
  width:700px;
  height:437px;
}
#u423 {
  position:absolute;
  left:2px;
  top:210px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u424 {
  position:absolute;
  left:59px;
  top:635px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u425 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
