body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:798px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u542_div {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:576px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u542 {
  position:absolute;
  left:30px;
  top:30px;
  width:768px;
  height:576px;
}
#u543 {
  position:absolute;
  left:2px;
  top:280px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u544_div {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u544 {
  position:absolute;
  left:30px;
  top:30px;
  width:768px;
  height:60px;
}
#u545 {
  position:absolute;
  left:2px;
  top:22px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:34px;
}
#u546 {
  position:absolute;
  left:50px;
  top:42px;
  width:20px;
  height:34px;
}
#u547 {
  position:absolute;
  left:2px;
  top:9px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u548_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u548 {
  position:absolute;
  left:91px;
  top:43px;
  width:97px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u549 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u550_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u550 {
  position:absolute;
  left:50px;
  top:115px;
  width:240px;
  height:125px;
}
#u550_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:0px 0px 10px rgba(255, 0, 0, 0.349019607843137), 0px 0px 5px 0px rgba(255, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 0px 10px rgba(255, 0, 0, 0.349019607843137), 0px 0px 5px 0px rgba(255, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 0px 10px rgba(255, 0, 0, 0.349019607843137), 0px 0px 5px 0px rgba(255, 0, 0, 0.349019607843137) inset;
}
#u550.selected {
}
#u551 {
  position:absolute;
  left:2px;
  top:54px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u552_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:112px;
}
#u552 {
  position:absolute;
  left:56px;
  top:121px;
  width:80px;
  height:112px;
}
#u553 {
  position:absolute;
  left:2px;
  top:48px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u554_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u554 {
  position:absolute;
  left:146px;
  top:133px;
  width:124px;
  height:28px;
  font-size:20px;
}
#u555 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u556_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u556 {
  position:absolute;
  left:146px;
  top:178px;
  width:141px;
  height:17px;
  font-size:12px;
}
#u557 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u558_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u558 {
  position:absolute;
  left:146px;
  top:202px;
  width:103px;
  height:25px;
  font-size:18px;
}
#u559 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u560_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u560 {
  position:absolute;
  left:50px;
  top:254px;
  width:240px;
  height:125px;
}
#u560_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:0px 0px 10px rgba(255, 0, 0, 0.349019607843137), 0px 0px 5px 0px rgba(255, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 0px 10px rgba(255, 0, 0, 0.349019607843137), 0px 0px 5px 0px rgba(255, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 0px 10px rgba(255, 0, 0, 0.349019607843137), 0px 0px 5px 0px rgba(255, 0, 0, 0.349019607843137) inset;
}
#u560.selected {
}
#u561 {
  position:absolute;
  left:2px;
  top:54px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u562_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:112px;
}
#u562 {
  position:absolute;
  left:56px;
  top:260px;
  width:80px;
  height:112px;
}
#u563 {
  position:absolute;
  left:2px;
  top:48px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u564_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u564 {
  position:absolute;
  left:146px;
  top:272px;
  width:124px;
  height:28px;
  font-size:20px;
}
#u565 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u566_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u566 {
  position:absolute;
  left:146px;
  top:314px;
  width:141px;
  height:17px;
  font-size:12px;
}
#u567 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u568_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u568 {
  position:absolute;
  left:146px;
  top:339px;
  width:102px;
  height:25px;
  font-size:18px;
}
#u569 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u570_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u570 {
  position:absolute;
  left:50px;
  top:392px;
  width:240px;
  height:125px;
}
#u570_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:0px 0px 10px rgba(255, 0, 0, 0.349019607843137), 0px 0px 5px 0px rgba(255, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 0px 10px rgba(255, 0, 0, 0.349019607843137), 0px 0px 5px 0px rgba(255, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 0px 10px rgba(255, 0, 0, 0.349019607843137), 0px 0px 5px 0px rgba(255, 0, 0, 0.349019607843137) inset;
}
#u570.selected {
}
#u571 {
  position:absolute;
  left:2px;
  top:54px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u572_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:112px;
}
#u572 {
  position:absolute;
  left:56px;
  top:398px;
  width:80px;
  height:112px;
}
#u573 {
  position:absolute;
  left:2px;
  top:48px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u574_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u574 {
  position:absolute;
  left:146px;
  top:407px;
  width:124px;
  height:28px;
  font-size:20px;
}
#u575 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u576_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u576 {
  position:absolute;
  left:146px;
  top:450px;
  width:141px;
  height:17px;
  font-size:12px;
}
#u577 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u578_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u578 {
  position:absolute;
  left:146px;
  top:474px;
  width:102px;
  height:25px;
  font-size:18px;
}
#u579 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u580_div {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:465px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u580 {
  position:absolute;
  left:305px;
  top:115px;
  width:465px;
  height:465px;
}
#u581 {
  position:absolute;
  left:2px;
  top:224px;
  width:461px;
  visibility:hidden;
  word-wrap:break-word;
}
#u582_div {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:204px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u582 {
  position:absolute;
  left:306px;
  top:116px;
  width:463px;
  height:204px;
}
#u583 {
  position:absolute;
  left:2px;
  top:94px;
  width:459px;
  visibility:hidden;
  word-wrap:break-word;
}
#u584_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:145px;
}
#u584 {
  position:absolute;
  left:326px;
  top:136px;
  width:110px;
  height:145px;
}
#u585 {
  position:absolute;
  left:2px;
  top:64px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u586_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u586 {
  position:absolute;
  left:456px;
  top:160px;
  width:124px;
  height:28px;
  font-size:20px;
}
#u587 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u588_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u588 {
  position:absolute;
  left:456px;
  top:208px;
  width:275px;
  height:25px;
  font-size:18px;
}
#u589 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  white-space:nowrap;
}
#u590_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u590 {
  position:absolute;
  left:456px;
  top:240px;
  width:103px;
  height:25px;
  font-size:18px;
}
#u591 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u592_div {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u592 {
  position:absolute;
  left:326px;
  top:303px;
  width:424px;
  height:93px;
}
#u593 {
  position:absolute;
  left:2px;
  top:38px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u594_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u594 {
  position:absolute;
  left:343px;
  top:316px;
  width:390px;
  height:66px;
  font-size:16px;
}
#u595 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  word-wrap:break-word;
}
#u596_div {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u596 {
  position:absolute;
  left:326px;
  top:414px;
  width:424px;
  height:150px;
}
#u597 {
  position:absolute;
  left:2px;
  top:67px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u598_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u598 {
  position:absolute;
  left:510px;
  top:423px;
  width:81px;
  height:28px;
  font-size:20px;
}
#u599 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u600_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u600 {
  position:absolute;
  left:343px;
  top:457px;
  width:390px;
  height:96px;
  font-size:16px;
}
#u601 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  word-wrap:break-word;
}
