body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:798px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:576px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u962 {
  position:absolute;
  left:30px;
  top:30px;
  width:768px;
  height:576px;
}
#u963 {
  position:absolute;
  left:2px;
  top:280px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u964 {
  position:absolute;
  left:30px;
  top:30px;
  width:768px;
  height:60px;
}
#u965 {
  position:absolute;
  left:2px;
  top:22px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:34px;
}
#u966 {
  position:absolute;
  left:50px;
  top:42px;
  width:20px;
  height:34px;
}
#u967 {
  position:absolute;
  left:2px;
  top:9px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u968 {
  position:absolute;
  left:91px;
  top:43px;
  width:97px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u969 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u970 {
  position:absolute;
  left:50px;
  top:115px;
  width:240px;
  height:125px;
}
#u970_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:0px 0px 10px rgba(255, 0, 0, 0.349019607843137), 0px 0px 5px 0px rgba(255, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 0px 10px rgba(255, 0, 0, 0.349019607843137), 0px 0px 5px 0px rgba(255, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 0px 10px rgba(255, 0, 0, 0.349019607843137), 0px 0px 5px 0px rgba(255, 0, 0, 0.349019607843137) inset;
}
#u970.selected {
}
#u971 {
  position:absolute;
  left:2px;
  top:54px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:112px;
}
#u972 {
  position:absolute;
  left:56px;
  top:121px;
  width:80px;
  height:112px;
}
#u973 {
  position:absolute;
  left:2px;
  top:48px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u974 {
  position:absolute;
  left:146px;
  top:133px;
  width:124px;
  height:28px;
  font-size:20px;
}
#u975 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u976 {
  position:absolute;
  left:146px;
  top:178px;
  width:141px;
  height:17px;
  font-size:12px;
}
#u977 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u978 {
  position:absolute;
  left:146px;
  top:202px;
  width:103px;
  height:25px;
  font-size:18px;
}
#u979 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u980 {
  position:absolute;
  left:50px;
  top:254px;
  width:240px;
  height:125px;
}
#u980_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:0px 0px 10px rgba(255, 0, 0, 0.349019607843137), 0px 0px 5px 0px rgba(255, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 0px 10px rgba(255, 0, 0, 0.349019607843137), 0px 0px 5px 0px rgba(255, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 0px 10px rgba(255, 0, 0, 0.349019607843137), 0px 0px 5px 0px rgba(255, 0, 0, 0.349019607843137) inset;
}
#u980.selected {
}
#u981 {
  position:absolute;
  left:2px;
  top:54px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:112px;
}
#u982 {
  position:absolute;
  left:56px;
  top:260px;
  width:80px;
  height:112px;
}
#u983 {
  position:absolute;
  left:2px;
  top:48px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u984 {
  position:absolute;
  left:146px;
  top:272px;
  width:124px;
  height:28px;
  font-size:20px;
}
#u985 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u986 {
  position:absolute;
  left:146px;
  top:314px;
  width:141px;
  height:17px;
  font-size:12px;
}
#u987 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u988 {
  position:absolute;
  left:146px;
  top:339px;
  width:102px;
  height:25px;
  font-size:18px;
}
#u989 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u990 {
  position:absolute;
  left:50px;
  top:392px;
  width:240px;
  height:125px;
}
#u990_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:0px 0px 10px rgba(255, 0, 0, 0.349019607843137), 0px 0px 5px 0px rgba(255, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 0px 10px rgba(255, 0, 0, 0.349019607843137), 0px 0px 5px 0px rgba(255, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 0px 10px rgba(255, 0, 0, 0.349019607843137), 0px 0px 5px 0px rgba(255, 0, 0, 0.349019607843137) inset;
}
#u990.selected {
}
#u991 {
  position:absolute;
  left:2px;
  top:54px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:112px;
}
#u992 {
  position:absolute;
  left:56px;
  top:398px;
  width:80px;
  height:112px;
}
#u993 {
  position:absolute;
  left:2px;
  top:48px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u994 {
  position:absolute;
  left:146px;
  top:407px;
  width:124px;
  height:28px;
  font-size:20px;
}
#u995 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u996 {
  position:absolute;
  left:146px;
  top:450px;
  width:141px;
  height:17px;
  font-size:12px;
}
#u997 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u998 {
  position:absolute;
  left:146px;
  top:474px;
  width:102px;
  height:25px;
  font-size:18px;
}
#u999 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u1000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:465px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1000 {
  position:absolute;
  left:305px;
  top:115px;
  width:465px;
  height:465px;
}
#u1001 {
  position:absolute;
  left:2px;
  top:224px;
  width:461px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:204px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1002 {
  position:absolute;
  left:306px;
  top:116px;
  width:463px;
  height:204px;
}
#u1003 {
  position:absolute;
  left:2px;
  top:94px;
  width:459px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:145px;
}
#u1004 {
  position:absolute;
  left:326px;
  top:136px;
  width:110px;
  height:145px;
}
#u1005 {
  position:absolute;
  left:2px;
  top:64px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1006 {
  position:absolute;
  left:456px;
  top:160px;
  width:124px;
  height:28px;
  font-size:20px;
}
#u1007 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u1008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1008 {
  position:absolute;
  left:456px;
  top:208px;
  width:275px;
  height:25px;
  font-size:18px;
}
#u1009 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  white-space:nowrap;
}
#u1010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1010 {
  position:absolute;
  left:456px;
  top:240px;
  width:103px;
  height:25px;
  font-size:18px;
}
#u1011 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u1012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1012 {
  position:absolute;
  left:326px;
  top:303px;
  width:424px;
  height:93px;
}
#u1013 {
  position:absolute;
  left:2px;
  top:38px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1014 {
  position:absolute;
  left:343px;
  top:316px;
  width:390px;
  height:66px;
  font-size:16px;
}
#u1015 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  word-wrap:break-word;
}
#u1016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1016 {
  position:absolute;
  left:326px;
  top:414px;
  width:424px;
  height:150px;
}
#u1017 {
  position:absolute;
  left:2px;
  top:67px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1018 {
  position:absolute;
  left:510px;
  top:423px;
  width:81px;
  height:28px;
  font-size:20px;
}
#u1019 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1020 {
  position:absolute;
  left:343px;
  top:457px;
  width:390px;
  height:96px;
  font-size:16px;
}
#u1021 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  word-wrap:break-word;
}
